* {
  all: unset;
}
.transparent-placeholder {
  color: rgba(00,00,00,0.0);
}
.settings-metric {
  background-color: rgba(00,00,00, 0.5);
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.settings-metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 10px;
  min-width: 300px;
  margin: 10px;
}
.settings-metric scale trough highlight {
  all: unset;
  background: linear-gradient(to right, #33ccff, #00ff99);
  color: #000000;
  border-radius: 10px;
}
